@model IEnumerable<AzureMediaServiceMVC.Models.VideoViewModel>

@{
    ViewBag.Title = "Uploaded Videos";
}

<h2>@ViewBag.Title</h2>

<link href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet">
<script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js"></script>

<script>
    amp.options.flashSS.swf = "//amp.azure.net/libs/amp/latest/techs/StrobeMediaPlayback.2.0.swf"
    amp.options.flashSS.plugin = "//amp.azure.net/libs/amp/latest/techs/MSAdaptiveStreamingPlugin-osmf2.0.swf"
    amp.options.silverlightSS.xap = "//amp.azure.net/libs/amp/latest/techs/SmoothStreamingPlayer.xap"
</script>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Status == "Finished")
                {
                    <video id="vid1" class="azuremediaplayer amp-default-skin amp-big-play-centered" controls width="440" height="250" data-setup='{"logo": { "enabled": false }, "techOrder": ["azureHtml5JS", "flashSS", "silverlightSS", "html5"], "nativeControlsForTouch": false}'>
                        @if (item.IsEncrypted)
                    {
                            <source src="@item.LocatorUri" type="application/vnd.ms-sstr+xml" data-setup='{"protectionInfo": [{"type": "AES", "authenticationToken": "@item.Token"}]}' />
                        }
                        else
                        {
                            <source src="@item.LocatorUri" type="application/vnd.ms-sstr+xml" />
                        }
                    </video>
                }
                else
                {
                    <p>This video is not ready for streaming.</p>
                }
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
